.rdp-day {
    background-color: var(--color-3); 
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.rdp-caption, .rdp-day,.rdp-head_row{color: var(--color-5);}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected),.rdp-day_selected:hover {
    background-color: var(--color-hover);
}
.rdp-day_selected, .rdp-day_selected:focus-visible, .rdp-day_selected:hover {
    color: var(--color-5);
    opacity: 1;
    border: 1px var(--color-5) solid;
}

