.mesas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 315px;
    padding: 20px 10px;
    gap: 20px;
}

[class^="mesa-"] { background-color: transparent; }

[class^="mesa-"]:not([disabled]){ cursor: pointer; }

[class^="mesa-"]:not([disabled]):hover{
    transform: scale(1.1);
}

.boton-confirmar{
    background-color: var(--color-3);
    color: var(--color-5);
    width: 280px;
    height: 44px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
