.titulo-reserva{
    text-align: center;
    font-size: 25px;
    color: var(--color-5);
}

.boton-volver{
    padding: 0 10px;
    color: var(--color-4);
    width: 90%;
    max-width: 300px;
    text-align: left;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.form-reservar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media screen and (min-width: 768px){

    .titulo-reserva{font-size: 30px;}

}

@media screen and (min-width: 1024px){
    
    .titulo-reserva{font-size: 40px;}

}