.papa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: yellow;

}

h1{
    font-size: 40px;
}
