.turno-reserva{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    width: 100%;
    max-width: 300px;
    padding:5px 10px;
    border: 1px solid var(--color-5);
    border-radius: 5px;
    color: var(--color-5);
    font-size: 12px;
}

.datos-turno-reserva{
    display: flex;
    flex:1;
    gap: 10px;
    cursor: pointer;
}
.datos-turno-reserva > :not(:first-child){
    flex: 0 0 auto;
}
.nombre-turno-reserva{
    max-width: 150px;
    flex:1 0 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.primera-mayus{
    text-transform: capitalize;
}

.btnes-reserva{
    display: flex;
    align-items: center;
    gap: 5px;
}

.btnes-reserva> img{
    cursor: pointer;
}


.info-reserva-modal{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--color-5);
    border-radius: 5px;
    color: var(--color-5);
    font-size: 18px;
}

.info-reserva-modal>p{
    padding: 10px 15px;
    flex: 1 1 100%;
}

.info-reserva-modal span{
    color: var(--color-3);
}

.info-reserva-modal>p:not(:first-child){
    border-top: 1px solid var(--color-5);
}
@media screen and (min-width: 768px) {
    .turno-reserva{
        max-width: 400px;
    }
    .datos-turno-reserva{
        gap: 20px;
    }

    .btnes-reserva{
        gap: 10px;
    }
}